{{> sidebar }}
<div class="main-panel">
  {{> nav }}
  <div class="content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <form action="/admin/music/insert-music" method="post">
            <div class="input">
                <label for="title">Titre</label>
                <input type="text" id="title" name="title">
            </div>
            <div class="input">
                <label for="content">Url</label>
                <input type="text" id="url" name="url">
            </div>
            <div class="input">
                <label for="author">Groupes</label>
                <select type="text" id="author" name="author">
                  {{# each groupes }}
                    <option value={{ this._id }}>{{ this.title }}</option>
                  {{/each}}
                </select>
            </div>
            <div class="input">
                <label for="style1">Styles</label>
                <select type="text" id="style1" name="style1">
                  <option value="0">Aucun</option>
                  {{# each styles }}
                    <option value={{ this._id }}>{{ this.title }}</option>
                  {{/each}}
                </select>
                <select type="text" id="style2" name="style2">
                  <option value="0">Aucun</option>
                  {{# each styles }}
                    <option value={{ this._id }}>{{ this.title }}</option>
                  {{/each}}
                </select>
                <select type="text" id="style3" name="style3">
                  <option value="0">Aucun</option>
                  {{# each styles }}
                    <option value={{ this._id }}>{{ this.title }}</option>
                  {{/each}}
                </select>
            </div>
            <button type="submit">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
  <div>
    <div class="col-lg-12 col-md-12">
        {{> table-musics musics= items }}
    </div>
  </div>
</div>
